'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Project Files'
        'submenu': [
            {'label': 'Projects...', 'command': 'project-files:projects-edit'}
        ]
      }
    ]
  }
]
