'context-menu':
  '.tree-view .file': [
    {'label': 'Open Externally', 'command': 'project-files:open-externally'}
  ]
  '.tree-view .directory': [
    {'label': 'Open Externally', 'command': 'project-files:open-externally'}
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Project Files'
        'submenu': [
            {'label': 'Projects...', 'command': 'project-files:projects-edit'}
        ]
      }
    ]
  }
]
