'atom-workspace':
  'f10'     : 'project-files:projects-toggle'
  'alt-f10' : 'project-files:recent-toggle'
  'ctrl-p'  : 'project-files:paths-toggle'

'.project-files.project-list atom-text-editor[mini], .project-files.recent-list atom-text-editor[mini]':
  'enter'      : 'project-list:open'
  'alt-enter'  : 'project-list:swap'
  'shift-enter': 'project-list:append'

'.project-files.path-list atom-text-editor[mini]':
  'enter'     : 'path-list:open'
  'alt-enter' : 'path-list:open-externally'
  'ctrl-enter': 'path-list:show-in-folder'
  'alt-delete': 'path-list:trash'

  'alt-left' : 'path-list:split-left'
  'alt-right': 'path-list:split-right'
  'alt-up'   : 'path-list:split-up'
  'alt-down' : 'path-list:split-down'

  'alt-v alt-p': 'path-list:insert-p'
  'alt-v alt-a': 'path-list:insert-a'
  'alt-v'      : 'path-list:insert-r'
  'alt-v alt-r': 'path-list:insert-r'
  'alt-v alt-n': 'path-list:insert-n'

  'alt-c alt-p': 'path-list:copy-p'
  'alt-c alt-a': 'path-list:copy-a'
  'alt-c'      : 'path-list:copy-r'
  'alt-c alt-r': 'path-list:copy-r'
  'alt-c alt-n': 'path-list:copy-n'

  'alt-0' : 'path-list:default-slash'
  'alt-/' : 'path-list:forward-slash'
  'alt-\\': 'path-list:backslash'
  'alt-q' : 'path-list:query-item'
  'alt-s' : 'path-list:query-selection'
