'atom-workspace':
  'f10'   : 'project-files:prj-toggle'
  'ctrl-p': 'project-files:pth-toggle'

'.project-files.prj-list atom-text-editor[mini]':
  'enter'      : 'prj-list:open'
  'alt-enter'  : 'prj-list:replace'
  'shift-enter': 'prj-list:append'

'.project-files.pth-list atom-text-editor[mini]':
  'enter'    : 'pth-list:open-in'
  'alt-enter': 'pth-list:open-ex'
  'ctrl-p'   : 'pth-list:ins-p'
  'ctrl-a'   : 'pth-list:ins-a'
  'ctrl-r'   : 'pth-list:ins-r'
  'ctrl-n'   : 'pth-list:ins-n'
