.project-files > span {
  color: @text-color-subtle;
}

.project-files .empty-message {
  color: @text-color-error;
  margin-top: 10px;
}

.project-files .icon-line::before {
  margin-right: 5px;
}

.project-files .primary-line .tag {
  color: @syntax-color-constant;
  margin-right: 5px;
  border: solid 1px;
  padding: .2em .4em;
  border-radius: 4px;
}

.project-files .loading-message {
  display: flex;
}

.project-files .loading-spinner-tiny {
  margin-left: 8px;
}

.project-files .keystroke {
  border: solid 1px;
  padding: .2em .4em;
  border-radius: 4px;
}
